@import "vars";
.ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin: 20px 0;
    position: relative;
    top: 60px;
    z-index: -1;
}
@media (max-width: 640px) {
    .ProductList {
        grid-template-columns: repeat(auto-fill, 120px);
    }
}